/* Variables */

:root {
  --basic-black: #000000;
  --black: #231F20;
  --special-black: rgba(0,0,0, 0.3);

  --basic-dark-grey: #333333;
  --basic-grey: #888888;
  --basic-light-grey: #EEEEEE;
  --grey: #BDBBBC;
  --grey-button: #A9A9A9;
  --light-grey: #F2F2F2;
  --special-grey: #EBEBEB;

  --basic-brown: #766357;
  --brown-hover: #604E43;
  --brown-active: #503E33;

  --basic-blue: #81B3D2;
  --blue-hover: #669EC0;
  --blue-active: #5496BD;
  --special-blue: #E5E5E5;

  --basic-white: #ffffff;
  --special-white: rgba(255,255,255, 0.3);
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark-grey);
  text-transform: uppercase;
  background-color: var(--light-grey);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  min-height: 100vh;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* Navigation */

.navigation {
  font-weight: 700;
  color: var(--basic-black);
}

.site-navigation {
  list-style: none;
}

.site-navigation-item {
  color: var(--basic-black);
}

.site-navigation-item:hover {
  color: var(--basic-blue);
}

.site-navigation-item:active {
  color: var(--special-black);
}

.active {
  color: var(--basic-brown);
}
/* Advantages */

.advantages {
  background-color: var(--basic-white);
  text-align: center;
}

.advantages h2 {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.advantages h3 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.advantages-block {
  list-style: none;
}


/* Main */

.intro {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-height: 509px;

  background:
  url("../img/intro-mask.svg") no-repeat 0 454px,
  url("../img/background.jpg") no-repeat center;
  background-color: var(--basic-blue);
}

/* Booking */

.booking {
  text-align: center;
}

.booking p {
  line-height: 24px;
}

.booking-header {
  color: var(--basic-black);
  font-size: 30px;
  font-weight: 700;
}

/* Form */
.booking-form {
  text-align: left;
  font-weight: 700;
  color: var(--basic-black);
}

.field-button,
.booking-item input {
  font: inherit;
  text-transform: uppercase;
  background-color: var(--light-grey);
  border: 0;
}

.booking-item input::placeholder {
  color: var(--basic-black);
}

.field-button:hover,
.booking-item input:hover {
  background-color: var(--special-grey);
}

.field-button:active,
.booking-item input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special-blue);
  box-sizing: border-box;
}

/* Buttons */

.button {
  font: inherit;
  text-align: center;
  color: var(--grey-button);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.button:hover,
.button:focus {
  color: var(--basic-black);
}

.button:active {
  color: var(--basic-blue);
}

.button-brown {
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.button-brown:hover {
  background-color: var(--brown-hover);
}

.button-brown:active {
  color: var(--special-white);
  background-color: var(--brown-active);
}

.button-blue {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.button-blue:hover {
  color: var(--basic-white);
  background-color: var(--blue-hover);
}

.button-blue:active {
  color: var(--special-white);
  background-color: var(--blue-active);
}

.social-button {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}

.social-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-tw::after {
  background-image: url("../img/twitter.svg");
  background-size: 17px auto;
}

.social-button-fb::after {
  background-image: url("../img/fb-icon.svg");
  background-size: 12px auto;
}

.social-button-yt::after {
  background-image: url("../img/youtube.svg");
  background-size: 20px auto;
}

.social-button:hover {
  background-color: var(--blue-hover);
}

.social-button:active {
  background-color: var(--blue-active);
}

.social-button:active::after {
  opacity: 0.3;
}


/* Hotels */

.hotels {
  font-weight: 700;
  list-style: none;
}

.hotels p {
  font-weight: 400;
}

.hotels-title {
  font-size: 21px;
  color: var(--basic-black);
}

.hotels-title:hover {
  color: var(--basic-blue);
}

.hotels-title:active {
  color: var(--special-black);
}

/* Footer */
.footer {
  color: var(--basic-black);
}

.footer p {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.footer a {
  color: var(--basic-black);
}

.social-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item {
  margin: 0 3px 6px;
}

.copyright svg:hover {
  fill: var(--basic-blue);
}

.copyright svg:active {
  fill: var(--grey);
}
