/* Variables */

:root {
  --basic-black: #000000;
  --black: #231F20;
  --special-black: rgba(0,0,0, 0.3);

  --basic-dark-grey: #333333;
  --basic-grey: #888888;
  --basic-light-grey: #EEEEEE;
  --grey: #BDBBBC;
  --grey-button: #A9A9A9;
  --light-grey: #F2F2F2;
  --special-grey: #EBEBEB;

  --basic-brown: #766357;
  --brown-hover: #604E43;
  --brown-active: #503E33;

  --basic-blue: #81B3D2;
  --blue-hover: #669EC0;
  --blue-active: #5496BD;
  --special-blue: #E5E5E5;

  --basic-white: #ffffff;
  --special-white: rgba(255,255,255, 0.3);
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark-grey);
  text-transform: uppercase;
  background-color: var(--basic-grey);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  margin: 0 auto;
  max-width: 90%;
  min-height: 100vh;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* Navigation */

.navigation {
  font-weight: 700;
  color: var(--basic-black);
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--special-black);
}
/* Advantages */

.advantages {
  background-color: var(--basic-white);
  text-align: center;
}

.advantages h2 {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

/* Main */

.main {
  background-image: url(../img/background.jpg);
  background-color: var(--basic-blue);
  text-align: center;
}

/* Booking */

.booking {
  text-align: center;
}

.booking p {
  line-height: 24px;
}

.booking-header {
  color: var(--basic-black);
  font-size: 30px;
  font-weight: 700;
}

/* Form */
.booking-form {
  text-align: left;
  font-weight: 700;
  color: var(--basic-black);
}

.field-button,
.booking-item input {
  font: inherit;
  background-color: var(--light-grey);
  border: 0;
}

.field-button:hover,
.booking-item input:hover {
  background-color: var(--special-grey);
}

.field-button:active,
.booking-item input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special-blue);
  box-sizing: border-box;
}

/* Buttons */

.button {
  font: inherit;
  text-align: center;
  color: var(--grey-button);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.button:hover,
.button:focus {
  color: var(--basic-black);
}

.button:active {
  color: var(--basic-blue);
}

.button-blue {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.button-brown {
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.button-brown:hover {
  background-color: var(--brown-hover);
}

.button-brown:active {
  color: var(--special-white);
  background-color: var(--brown-active);
}

.button-blue:hover {
  color: var(--basic-white);
  background-color: var(--blue-hover);
}

.button-blue:active {
  color: var(--special-white);
  background-color: var(--blue-active);
}

.social {
  list-style: none;

}
.social-button {
  display: block;
  width: 46px;
  height: 48px;
}

.social-twitter {
  background: url(../img/twitter.svg) no-repeat center;
  background-color: var(--basic-blue);
}

.social-fb {
  background: url(../img/fb-icon.svg) no-repeat center;
  background-color: var(--basic-blue);
}

.social-youtube {
  background: url(../img/youtube.svg) no-repeat center;
  background-color: var(--basic-blue);
}


.social-twitter:hover,
.social-fb:hover,
.social-youtube:hover {
  background-color: var(--blue-hover);
}

.social-twitter:active,
.socail-fb:active,
.social-youtube:active {
  fill-opacity: .3;
}

/* Hotels */

.hotels {
  font-weight: 700;
  list-style: none;
}

.hotels p {
  font-weight: 400;
}

.hotels-title {
  font-size: 21px;
}

.hotels-title:hover {
  color: var(--basic-blue);
}

.hotels-title:active {
  color: var(--special-black);
}

/* Footer */
.footer {
  color: var(--basic-black);
}

.footer p {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
 
 }


.social {
  list-style: none;
}

.copyright svg:hover {
  fill: var(--basic-blue);
}

.copyright svg:active {
  fill: var(--grey);
}
